body{
  font-family: Roboto, Arial;
  background-color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
  background-color: orange;
}

.logo-holder{
  background-color: gray;
  padding: 2rem;
  border-radius: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a{
  text-decoration: none;
}

.hero{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

h1{
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  margin: auto;
  max-width: 40rem;
}

.hero-container p{
  max-width: 43rem;
  margin: auto;
}

.hero-cta{
  margin: auto;
  padding:1rem 1.5rem;
  border-radius: 20px;
  border-style: none;
}

