body{
  font-family: Roboto, Arial;
  background-color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
  background-color: orange;
}

.logo-holder{
  background-color: gray;
  padding: 2rem;
  border-radius: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a{
  text-decoration: none;
}

.hero{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.hero-container{
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

h1{
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 700;
  margin: auto;
  max-width: 40rem;
}

.hero-container p{
  max-width: 43rem;
  margin: auto;
}

.hero-cta{
  margin: auto;
  padding:1rem 1.5rem;
  border-radius: 20px;
  border-style: none;
}

.about-me{
  height: 60vh;
}

.about-container{
  display: grid;
  grid-template-columns: minmax(300px, 600px) minmax(300px,400px);
  max-width: 90rem;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
}


h2{
  font-size: clamp(1.8rem, 4.5vw, 2.8rem);
  margin: 0;
  margin-bottom: .5rem;
}

.personal-description{
  max-width: 525px;
}

.img-placeholder{
  background-color: darkgray;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50vh;
  border-radius: 25vh;
}

main{
  height: 80vh;
  margin-top: 10rem;
  background-color: darkgray;
  padding-top: 3rem;
}

h3{
  font-size: clamp(1.8rem, 4.5vw, 2.8rem);
}

h3, .ambition-text{
  text-align: center;
}


.skills-container{
  display: flex;
  justify-content: space-between;
  max-width: 70rem;
  margin: auto;
  margin-top: 5rem;
  gap: 5rem;
}

.specific-container{
  border: 1px solid red;
  padding: 1rem;
}

.tags{
  display: flex;
  gap: 10px;
}

.projects{
  height: 80vh;
}

h4{
  font-size: clamp(1.8rem, 4.5vw, 2.8rem);
}

h4, .project-sub{
  text-align: center;
}

.project-grouper{
  display: grid;
  grid-template-columns: minmax(400px, 700px) minmax(400px, 700px) minmax(400px, 700px);
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 5rem;
}

.project-container{
  border: 1px solid red;
  padding: 1rem;
}

.contact{
  height: 35vh;
  background-color: peru;
  padding-top: 3rem;
}

h5{
  text-align: center;
  margin: auto;
  font-size: clamp(1.8rem, 4.5vw, 2.8rem);
}

.contact-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 35vw;
}

.personal-contact{
  width: 20vw;
  align-self: flex-start;
  align-items: start;
}

footer{
  height: 25vh;
}

.footer-link ul{
  list-style: none;
}
